@model FMS_Objects.Enities.Restaurant

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Deleting @Html.DisplayFor(model => model.RestaurantName)</h3>
    <hr/>
</div>

<!--MODAL BODY-->
<div class=" modal-body">
    <div class="container-fluid">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-content">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.RestaurantName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RestaurantName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.RestaurantAcronym)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RestaurantAcronym)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.RestaurantAddress)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RestaurantAddress)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LGA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LGA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Country)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Country)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PostalCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PostalCode)
                            </dd>
                        </dl>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                             <!--MODAL FOOTER-->
                            <div class="modal-footer">
                                <hr/>
                                <input class="btn btn-primary" type="submit" value="Save" />
                                <button class="btn btn-warning" data-dismiss="modal">Close</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
