@model IEnumerable<FMS_Objects.Enities.Restaurant>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Restaurant";
}
<style>
    .modal-backdrop {
        z-index:0;
    }
    
    .redy{
        color: red;
    }
</style>
<div class="row">
    <div class="col-md-12">
            <a href="@Url.Action("Create", "Restaurant")" data-modal="" class="btn btn-primary pull-right">ADD</a>
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">RESTAURANTS</h4>
            </div>
            <div class="card-content table-responsive" >
                <table class="table" id="myTable">
                    <thead class="text-primary">
                        <tr>
                            <th class="redy">
                                Name
                            </th>
                            <th class="redy">
                                LGA
                            </th>
                            <th class="redy">
                                Country
                            </th>
                            <th class="redy">
                                Postal Code
                            </th>
                            <th class="redy">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td  class="redy">
                                    <a href="@Url.Action("Index", "RestaurantDashboard", new { id = item.RestaurantId })"> @Html.DisplayFor(modelItem => item.RestaurantName)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LGA)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostalCode)
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "RestaurantDashboard", new { id = item.RestaurantId })"><i style="padding-right: 5px" class="fa fa-2x fa-share-square-o"></i></a>
                                    <a href="@Url.Action("Delete", "Restaurant", new { id = item.RestaurantId })" data-modal=""><i class="fa fa-2x fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/jquery-1.12.4.js" type="text/javascript"></script>
<script src="~/Scripts/Appjs/FMS.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'dataTable'
                }
            ]
        });
    });
</script>