@model FMS_Objects.Enities.IncomeItem
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

</div>

<div class=" modal-body">
    <div class="container-fluid">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h3 class="modal-title">Deleting @Html.DisplayFor(model => model.IncomeItemTitle)</h3>
                        </div>
                        <div class="card-content">
                            <dl class="dl-horizontal col-md-offset-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.IncomeCategoryVirtual.IncomeCategoryTitle)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IncomeCategoryVirtual.IncomeCategoryTitle)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.IncomeItemTitle)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IncomeItemTitle)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.IncomeItemPrice)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IncomeItemPrice)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.IncomeItemQuantity)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IncomeItemQuantity)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-footer">
                                    <input class="btn btn-primary" type="submit" value="Delete" />
                                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
