@model FMS.Models.ExpenseItem

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class=" modal-body">
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h3 class="modal-title">Editing @Html.DisplayFor(model => model.ExpenseItemTitle)</h3>
                            </div>
                            <div class="card-content">
                                <form>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.ExpenseItemId)
                                    @Html.HiddenFor(model => model.ExpenseCategoryId)
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating">
                                                @Html.LabelFor(model => model.ExpenseItemTitle, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.ExpenseItemTitle, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ExpenseItemTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                @Html.LabelFor(model => model.ExpenseItemPrice, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.ExpenseItemPrice, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ExpenseItemPrice, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                @Html.LabelFor(model => model.ExpenseItemQuantity, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.ExpenseItemQuantity, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ExpenseItemQuantity, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input class="btn btn-primary" type="submit" value="Update" />
                                        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>